/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: SFUFuturaBook;
    src: url(./assets/SFUFuturaBook.TTF);
  }
body {
    font-family: SFUFuturaBook, Helvetica, Arial, sans-serif !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
