<header>
  <div id="top"></div>
  <div id="header-pc" class="show-pc" (scroll)="onWindowScroll($event);">
    <div class="container">
      <div class="row">
        <div class="col-2">
          <div class="header-logo wow fadeInLeft" data-wow-duration="0.75s" data-wow-delay="0.2s">
            <h1>
              <a href="/">
                <img src="../../assets/logo_suplo.png"
                  alt="Thiết kế website - Giải pháp toàn diện cho doanh nghiệp - SUPLO">
              </a>
            </h1>
          </div>
        </div>
        <div class="col-10">
          <div class="header-navbar">
            <ul class="no-bullets">
              <li class="wow fadeInLeft" data-wow-duration="0.75s" data-wow-delay="0.4s">
                <button [ngx-scroll-to]="'#top'" class="anchor-link text-center">
                  Trang chủ
                </button>
              </li>
              <li class="wow fadeInLeft" data-wow-duration="0.75s" data-wow-delay="0.6s">
                <button [ngx-scroll-to]="'#home-about'" class="anchor-link text-center">
                  Giới thiệu
                </button>
              </li>
              <li class="wow fadeInLeft" data-wow-duration="0.75s" data-wow-delay="0.8s">
                <button [ngx-scroll-to]="'#home-solution'" class="anchor-link text-center">
                  Giải pháp
                </button>
              </li>
              <li class="wow fadeInLeft" data-wow-duration="0.75s" data-wow-delay="1s">
                <button [ngx-scroll-to]="'#home-deploy'" class="anchor-link text-center">
                  Quy trình
                </button>
              </li>
              <li class="wow fadeInLeft" data-wow-duration="0.75s" data-wow-delay="1.2s">
                <button [ngx-scroll-to]="'#home-services'" class="anchor-link text-center">
                  Khách hàng
                </button>
              </li>
              <li class="wow fadeInLeft" data-wow-duration="0.75s" data-wow-delay="1.4s">
                <button [ngx-scroll-to]="'#home-form'" class="anchor-link text-center">
                  Liên hệ
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="header-sp" class="show-sp">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="header-logo">
            <h1>
              <a href="/">
                <img src="../../assets/logo_suplo.png"
                  alt="Thiết kế website - Giải pháp toàn diện cho doanh nghiệp - SUPLO">
              </a>
            </h1>
          </div>
        </div>
        <div class="col-8">
          <button class="menu-toggler" (click)="toggleClass()" [class.change]="show">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
          </button>
          <div class="header-navbar" [class.showsp]="show">
            <ul class="no-bullets">
              <li>
                <a href="/" class="text-center">
                  <div class="hd-link-title">
                    Trang chủ
                  </div>
                </a>
              </li>
              <li>
                <a href="#home-about" class="anchor-link text-center">
                  <div class="hd-link-title">
                    Giới thiệu
                  </div>
                </a>
              </li>
              <li>
                <a href="#home-solution" class="anchor-link text-center">
                  <div class="hd-link-title">
                    Giải pháp
                  </div>
                </a>
              </li>
              <li>
                <a href="#home-deploy" class="anchor-link text-center">
                  <div class="hd-link-title">
                    Quy trình
                  </div>
                </a>
              </li>
              <li>
                <a href="#home-comment" class="anchor-link text-center">
                  <div class="hd-link-title">
                    Khách hàng
                  </div>
                </a>
              </li>
              <li>
                <a href="#home-form" class="anchor-link text-center">
                  <div class="hd-link-title">
                    Liên hệ
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="main-visual">
  <div class="main-cover">
    <img src="../../assets/bg_slider.png"
      alt="Cung cấp giải pháp ứng dụng di động, website trong lĩnh vực thương mại điện tử">
    <div class="main-content">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="main-txt">
              <h2 class="wow fadeInLeft">
                Cung cấp giải pháp<br>
                ứng dụng di động, website<br>
                thương mại điện tử
              </h2>
              <button [ngx-scroll-to]="'#home-form'" class="btn-home wow fadeInLeft">
                liên hệ ngay
              </button>
            </div>
          </div>
          <div class="col-sm">
            <img class="wow fadeInRight" src="../../assets/slider.png" alt="main-slider">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="home-about">
  <div class="about-content">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <img class="wow fadeInLeft" src="../../assets/about_us.png" alt="về chúng tôi">
        </div>
        <div class="col-sm">
          <div class="about-txt wow fadeInRight">
            <h3 class="title">Về chúng tôi</h3>
            <p>
              Suplo là điểm đến của những bạn trẻ yêu thích và mong muốn được đóng góp vào sự phát triển thương mại điện tử tại Việt Nam. Bằng đam mê, sức trẻ và nhiệt huyết, chúng tôi đã tạo lên một tập thể luôn cố gắng hết mình nghiên cứu, xây dựng và cung cấp những bộ công cụ, hệ thống phần mềm giúp cho các cửa hàng, doanh nghiệp áp dụng số hóa vào việc tối ưu quy trình, giảm thiểu rủi ro không đáng có trong quá trình quản lý - vận hành để từ đó giúp tăng doanh thu và dễ dàng mở rộng quy mô kinh doanh.
            
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="home-solution">
  <div class="solution-content">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="solution-txt wow fadeInLeft">
            <h3 class="title">Giải pháp</h3>
            <p>Với Thương mại điện tử, mọi khó khăn
              trong quá trình xây dựng, triển khai ứng dụng công nghệ sẽ được chúng tôi
              tư vấn và đưa ra giải pháp phù hợp và hiệu quả nhất tới khách hàng.
            </p>
            <ul class="no-bullets">
              <li>
                <h4>thiết kế website theo yêu cầu</h4>
                <p>
                  Tạo website nhanh với các giao diện sẵn có; Thiết kế website chuẩn SEO
                  hỗ trợ marketing; Tối ưu hiển thị trên các thiết bị di động, tablet .
                </p>
              </li>
              <li>
                <h4>phát triển ứng dụng di động</h4>
                <p>
                  Cung cấp các dịch vụ gia công phát triển ứng dụng (Outsource App Development) 
                  hỗ trợ thúc đẩy các nghiệp vụ mang lại lợi ích cho doanh nghiệp.
                </p>
              </li>
              <li>
                <h4>giải pháp API+</h4>
                <p>
                  Phát triển ứng dụng và tích hợp API giữa các nền tảng và bên cung cấp dịch vụ thứ 3. đồng
                  bộ, thống nhất về dữ liệu.
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm">
          <img class="wow fadeInRight" src="../../assets/content-02.png" alt="giải pháp">
        </div>

      </div>
    </div>
  </div>
</section>

<section id="home-logo-partner">
  <div class="container">
    <div class="row show-pc">
      <div class="col wow fadeInLeft" data-wow-duration="0.75s" data-wow-delay="0.2s">
        <a href="">
          <img src="../../assets/logo_img_1.jpg" alt="logo_img_1">
        </a>
      </div>
      <div class="col wow fadeInLeft" data-wow-duration="0.75s" data-wow-delay="0.4s">
        <a href="">
          <img src="../../assets/logo_img_2.jpg" alt="logo_img_2">
        </a>
      </div>
      <div class="col wow fadeInLeft" data-wow-duration="0.75s" data-wow-delay="0.6s">
        <a href="">
          <img src="../../assets/logo_img_3.jpg" alt="logo_img_3">
        </a>
      </div>
      <div class="col wow fadeInLeft" data-wow-duration="0.75s" data-wow-delay="0.8s">
        <a href="">
          <img src="../../assets/logo_img_4.jpg" alt="logo_img_4">
        </a>
      </div>
      <div class="col wow fadeInLeft" data-wow-duration="0.75s" data-wow-delay="1s">
        <a href="">
          <img src="../../assets/logo_img_5.jpg" alt="logo_img_5">
        </a>
      </div>
    </div>
    <div class="row show-pc">
      <div class="col wow fadeInRight" data-wow-duration="0.75s" data-wow-delay="0.2s">
        <a href="">
          <img src="../../assets/logo_img_6.jpg" alt="logo_img_6">
        </a>
      </div>
      <div class="col wow fadeInRight" data-wow-duration="0.75s" data-wow-delay="0.4s">
        <a href="">
          <img src="../../assets/logo_img_7.jpg" alt="logo_img_7">
        </a>
      </div>
      <div class="col wow fadeInRight" data-wow-duration="0.75s" data-wow-delay="0.6s">
        <a href="">
          <img src="../../assets/logo_img_8.jpg" alt="logo_img_8">
        </a>
      </div>
      <div class="col wow fadeInRight" data-wow-duration="0.75s" data-wow-delay="0.8s">
        <a href="">
          <img src="../../assets/logo_img_9.jpg" alt="logo_img_9">
        </a>
      </div>
      <div class="col wow fadeInRight" data-wow-duration="0.75s" data-wow-delay="1s">
        <a href="">
          <img src="../../assets/logo_img_10.jpg" alt="logo_img_10">
        </a>
      </div>
    </div>

    <div class="row show-sp">
      <div class="col">
        <a href="">
          <img src="../../assets/logo_img_1.jpg" alt="logo_img_1">
        </a>
      </div>
      <div class="col">
        <a href="">
          <img src="../../assets/logo_img_2.jpg" alt="logo_img_2">
        </a>
      </div>
    </div>
    <div class="row show-sp">
      <div class="col">
        <a href="">
          <img src="../../assets/logo_img_3.jpg" alt="logo_img_3">
        </a>
      </div>
      <div class="col">
        <a href="">
          <img src="../../assets/logo_img_4.jpg" alt="logo_img_4">
        </a>
      </div>
    </div>
    <div class="row show-sp">
      <div class="col">
        <a href="">
          <img src="../../assets/logo_img_5.jpg" alt="logo_img_5">
        </a>
      </div>
      <div class="col">
        <a href="">
          <img src="../../assets/logo_img_6.jpg" alt="logo_img_6">
        </a>
      </div>
    </div>
    <div class="row show-sp">
      <div class="col">
        <a href="">
          <img src="../../assets/logo_img_7.jpg" alt="logo_img_7">
        </a>
      </div>
      <div class="col">
        <a href="">
          <img src="../../assets/logo_img_8.jpg" alt="logo_img_8">
        </a>
      </div>
    </div>
    <div class="row show-sp">
      <div class="col">
        <a href="">
          <img src="../../assets/logo_img_9.jpg" alt="logo_img_9">
        </a>
      </div>
      <div class="col">
        <a href="">
          <img src="../../assets/logo_img_10.jpg" alt="logo_img_10">
        </a>
      </div>
    </div>
  </div>
</section>

<section id="home-deploy">
  <div class="cover"></div>
  <div class="container">
    <h3 class="title text-center wow fadeInUp">Quy trình triển khai</h3>

    <div class="deploy-content show-pc">
      <div class="deploy-top">
        <div class="thumb wow fadeInRight" data-wow-duration="0.75s" data-wow-delay="0.2s">
          <h5>1. Phân tích và tư vấn</h5>
          <div class="thumb-img">
            <img src="../../assets/progress_1.svg" alt="Thu thập thông tin">
          </div>
          <img class="arrow" src="../../assets/down-arrow.svg" alt="down-arrow">
        </div>
        <div class="thumb wow fadeInRight" data-wow-duration="0.75s" data-wow-delay="0.4s">
          <h5>3. Thiết kế giao diện</h5>
          <div class="thumb-img">
            <img src="../../assets/progress_3.svg" alt="Thu thập thông tin">
          </div>
          <img class="arrow" src="../../assets/down-arrow.svg" alt="down-arrow">
        </div>
        <div class="thumb wow fadeInRight" data-wow-duration="0.75s" data-wow-delay="0.6s">
          <h5>5. nghiệm thu demo</h5>
          <div class="thumb-img">
            <img src="../../assets/progress_5.svg" alt="Thu thập thông tin">
          </div>
          <img class="arrow" src="../../assets/down-arrow.svg" alt="down-arrow">
        </div>
        <div class="thumb wow fadeInRight" data-wow-duration="0.75s" data-wow-delay="0.8s">
          <h5>7. nghiệm thu</h5>
          <div class="thumb-img">
            <img src="../../assets/progress_7.svg" alt="Thu thập thông tin">
          </div>
          <img class="arrow" src="../../assets/down-arrow.svg" alt="down-arrow">
        </div>
      </div>
      <div class="deploy-bot">
        <div class="thumb wow fadeInLeft" data-wow-duration="0.75s" data-wow-delay="0.2s">
          <div class="thumb-img">
            <img src="../../assets/progress_2.svg" alt="Ký hợp đồng">
          </div>
          <h5>2. Ký hợp đồng</h5>
          <img class="arrow" src="../../assets/down-arrow.svg" alt="down-arrow">
        </div>
        <div class="thumb wow fadeInLeft" data-wow-duration="0.75s" data-wow-delay="0.4s">
          <div class="thumb-img">
            <img src="../../assets/progress_4.svg" alt="lập trình hệ thống">
          </div>
          <h5>4. lập trình hệ thống</h5>
          <img class="arrow" src="../../assets/down-arrow.svg" alt="down-arrow">
        </div>
        <div class="thumb wow fadeInLeft" data-wow-duration="0.75s" data-wow-delay="0.6s">
          <div class="thumb-img">
            <img src="../../assets/progress_6.svg" alt="thử nghiệm và nhập liệu">
          </div>
          <h5>6. thử nghiệm và nhập liệu</h5>
          <img class="arrow" src="../../assets/down-arrow.svg" alt="down-arrow">
        </div>
        <div class="thumb wow fadeInLeft" data-wow-duration="0.75s" data-wow-delay="0.8s">
          <div class="thumb-img">
            <img src="../../assets/progress_8.svg" alt="bảo hành">
          </div>
          <h5>8. bảo hành</h5>
          <img class="arrow" src="../../assets/down-arrow.svg" alt="down-arrow">
        </div>
      </div>
    </div>

    <div class="deploy-content show-sp">
      <div class="deploy-top">
        <div class="deploy-flex">
          <div class="thumb">
            <h5>1. Thu thập thông tin</h5>
            <div class="thumb-img">
              <img src="../../assets/progress_1.svg" alt="Thu thập thông tin">
            </div>
            <img class="arrow" src="../../assets/down-arrow.svg" alt="down-arrow">
          </div>
          <div class="thumb">
            <h5>2. Thiết kế giao diện</h5>
            <div class="thumb-img">
              <img src="../../assets/progress_2.svg" alt="Thu thập thông tin">
            </div>
            <img class="arrow" src="../../assets/down-arrow.svg" alt="down-arrow">
          </div>
        </div>
        <div class="deploy-flex">
          <div class="thumb">
            <h5>3. nghiệm thu demo</h5>
            <div class="thumb-img">
              <img src="../../assets/progress_3.svg" alt="Thu thập thông tin">
            </div>
            <img class="arrow" src="../../assets/down-arrow.svg" alt="down-arrow">
          </div>
          <div class="thumb">
            <h5>4. nghiệm thu</h5>
            <div class="thumb-img">
              <img src="../../assets/progress_4.svg" alt="Thu thập thông tin">
            </div>
            <img class="arrow" src="../../assets/down-arrow.svg" alt="down-arrow">
          </div>
        </div>
      </div>
      <div class="deploy-bot">
        <div class="deploy-flex">
          <div class="thumb">
            <h5>5. Ký hợp đồng</h5>
            <div class="thumb-img">
              <img src="../../assets/progress_5.svg" alt="Ký hợp đồng">
            </div>
            <img class="arrow" src="../../assets/down-arrow.svg" alt="down-arrow">
          </div>
          <div class="thumb">
            <h5>6. lập trình hệ thống</h5>

            <div class="thumb-img">
              <img src="../../assets/progress_6.svg" alt="lập trình hệ thống">
            </div>
            <img class="arrow" src="../../assets/down-arrow.svg" alt="down-arrow">
          </div>
        </div>
        <div class="deploy-flex">
          <div class="thumb">
            <h5>7. thử nghiệm và nhập liệu</h5>

            <div class="thumb-img">
              <img src="../../assets/progress_7.svg" alt="thử nghiệm và nhập liệu">
            </div>
            <img class="arrow" src="../../assets/down-arrow.svg" alt="down-arrow">

          </div>
          <div class="thumb">
            <h5>8. bảo hành</h5>

            <div class="thumb-img">
              <img src="../../assets/progress_8.svg" alt="bảo hành">
            </div>
            <img class="arrow" src="../../assets/down-arrow.svg" alt="down-arrow">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 
<section class="hidden" id="home-comment">
  <div class="container">
    <h3 class="title text-center wow fadeInUp">
      Khách hàng nói về chúng tôi
    </h3>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col">
              <div class="comment-left">
                <img src="../../assets/Testimonial.jpg" class="d-block w-100" alt="comment-1">
                <div class="comment-face">
                  <img src="../../assets/avatar.jpg" alt="face">
                </div>
              </div>
            </div>
            <div class="col">
              <div class="comment-right">
                <i class="fas fa-quote-left"></i>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                  into
                  electronic typesetting, remaining essentially unchanged.
                </p>
                <div class="comment-infor">
                  <p>Bà <strong>Phạm Hải Yến</strong></p>
                  <p><i>Chủ tịch Hội LHPN TP Hải Phòng</i></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col">
              <div class="comment-left">
                <img src="../../assets/Testimonial.jpg" class="d-block w-100" alt="comment-1">
                <div class="comment-face">
                  <img src="../../assets/avatar.jpg" alt="face">
                </div>
              </div>
            </div>
            <div class="col">
              <div class="comment-right">
                <i class="fas fa-quote-left"></i>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                  into
                  electronic typesetting, remaining essentially unchanged.
                </p>
                <div class="comment-infor">
                  <p>Bà <strong>Phạm Hải Yến</strong></p>
                  <p><i>Chủ tịch Hội LHPN TP Hải Phòng</i></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col">
              <div class="comment-left">
                <img src="../../assets/Testimonial.jpg" class="d-block w-100" alt="comment-1">
                <div class="comment-face">
                  <img src="../../assets/avatar.jpg" alt="face">
                </div>
              </div>
            </div>
            <div class="col">
              <div class="comment-right">
                <i class="fas fa-quote-left"></i>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                  into
                  electronic typesetting, remaining essentially unchanged.
                </p>
                <div class="comment-infor">
                  <p>Bà <strong>Phạm Hải Yến</strong></p>
                  <p><i>Chủ tịch Hội LHPN TP Hải Phòng</i></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section> -->

<section id="home-services">
  <div class="container">
    <h3 class="title text-center wow fadeInUp">
      2000+ Khách hàng đã sử dụng sản phẩm của Suplo
    </h3>
    <div id="home-slider" class="services-content owl-carousel owl-theme owl-loaded owl-drag">
      <owl-carousel [options]="carouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <div class="item" *ngFor="let image of images; let i= index">
          <a href="{{image.link}}">
            <img class="slide-image" src="{{image.image}}">
          </a>
        </div>
      </owl-carousel>
    </div>
  </div>
</section>

<section id="home-form">
  <div class="container">
    <h3 class="title text-center wow fadeInUp">
      Thông tin liên hệ
    </h3>
    <div class="form-group form-content">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6 col-12 wow fadeInLeft">
            <div class="form-group">
              <p>Họ và tên</p>
              <input type="text" formControlName="name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Nhập họ tên của bạn">
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Họ tên là bắt buộc</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-12 wow fadeInRight">
            <div class="form-group">
              <p>Tên công ty</p>
              <input type="text" formControlName="company" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.company.errors }" placeholder="Nhập tên công ty">
              <div *ngIf="submitted && f.company.errors" class="invalid-feedback">
                <div *ngIf="f.company.errors.required">Tên công ty là bắt buộc</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-12 wow fadeInLeft">
            <div class="form-group">
              <p>Số điện thoại</p>
              <input type="text" formControlName="phone" class="form-control" (keypress)="keyPress($event)"
                [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" placeholder="Nhập số điện thoại của bạn">
              <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                <div *ngIf="f.phone.errors.required">Số điện thoại là bắt buộc</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-12 wow fadeInRight">
            <div class="form-group">
              <p>Email</p>
              <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Nhập email của bạn">
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email là bắt buộc</div>
                <div *ngIf="f.email.errors.email">Email phải là một địa chỉ Email hợp lệ</div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group wow fadeInLeft">
          <p>Nói về dự án</p>
          <textarea formControlName="node" class="form-control tell-about"
            [ngClass]="{ 'is-invalid': submitted && f.node.errors }" placeholder="Nội dung"></textarea>
          <div *ngIf="submitted && f.node.errors" class="invalid-feedback">
            <div *ngIf="f.node.errors.required">Nhập dự án là bắt buộc</div>
          </div>
        </div>

        <div class="form-group wow fadeInRight" formGroupName="value_project"
          [ngClass]="{ 'is-invalid': submitted && f.value_project.errors }">

          <p class="from-margin">Yêu cầu bắt buộc</p>
          <div class="row">
            <div class="col-md-3 col-6">
              <input type="checkbox" formControlName="value_project1" class="form-check" value="Tích hợp hệ thống">Tích
              hợp hệ thống
            </div>
            <div class="col-md-3 col-6">
              <input type="checkbox" formControlName="value_project2" class="form-check" value="Xây dựng website">Xây
              dựng website
            </div>
            <div class="col-md-3 col-6">
              <input type="checkbox" formControlName="value_project3" class="form-check" value="Xây dựng Mobile App">Xây
              dựng Mobile App
            </div>
            <div class="col-md-3 col-6">
              <input type="checkbox" formControlName="value_project4" class="form-check" value="Tư vấn hỗ trợ">Tư vấn
              hỗ trợ
            </div>
          </div>
          <!-- <div *ngIf="submitted && f.value_project1.errors || f.value_project2.errors || f.value_project3.errors || && f.value_project4.errors" class="invalid-feedback">
            <div *ngIf="f.value_project1.errors.required">Yêu cầu bắt buộc</div>
          </div> -->
        </div>

        <div class="form-group wow fadeInLeft">
          <p class="from-margin">Ngân sách</p>
          <div class="row">
            <div class="col-md-3 col-6">
              <div class="formrow">
                <input type="radio" formControlName="value_money" class="form-option" value="50 - 200 triệu đồng"
                  [ngClass]="{ 'is-invalid': submitted && f.value_money.errors }">50 - 200 triệu đồng
              </div>
            </div>
            <div class="col-md-3 col-6">
              <input type="radio" formControlName="value_money" class="form-option" value="200 - 500 triệu đồng"
                [ngClass]="{ 'is-invalid': submitted && f.value_money.errors }">200 - 500 triệu đồng
            </div>
            <div class="col-md-3 col-6">
              <input type="radio" formControlName="value_money" class="form-option" value="500 - 1 tỷ đồng"
                [ngClass]="{ 'is-invalid': submitted && f.value_money.errors }">500 - 1 tỷ đồng
            </div>
            <div class="col-md-3 col-6">
              <input type="radio" formControlName="value_money" class="form-option" value="lớn hơn 1 đồng"
                [ngClass]="{ 'is-invalid': submitted && f.value_money.errors }">Lớn hơn 1 tỷ đồng
            </div>
          </div>
          <div *ngIf="submitted && f.value_money.errors" class="invalid-feedback">
            <div *ngIf="f.value_money.errors.required">Yêu cầu bắt buộc</div>
          </div>
        </div>

        <div class="btn-home text-center form-group wow fadeInUp">
          <button type="submit" class="btn-home btn btn-primary">GỬI</button>
        </div>
      </form>
    </div>

  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-8 col-md-4 wow fadeInLeft" data-wow-duration="0.75s" data-wow-delay="0.2s">
        <a class="logo-footer" href="/">
          <img src="../../assets/logo_suplo.png" alt="Thiết kế website - Giải pháp toàn diện cho doanh nghiệp - SUPLO">
        </a>
        <p><strong>Công ty cổ phần Suplo Việt Nam</strong></p>
        <div class="ft-address">
          <i class="fa fa-home"></i>
          <span>Tầng 1 tòa nhà GP Invest, 170 Đê La Thành,<br>
            Ô Chợ Dừa, Đống Đa, Hà Nội
          </span>
        </div>
        <div class="ft-hotline">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <a href="tel:(+84)934 323 882 " class="a">(+84)934 323 882</a>
        </div>
        <div class="ft-email">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <a href="mailto:support@suplo.vn" class="a">support@suplo.vn</a>
        </div>
      </div>
      <div class="col-4 col-md-4 wow fadeInLeft" data-wow-duration="0.75s" data-wow-delay="0.4s">
        <div class="support">
          <h3>Hỗ trợ</h3>
          <ul class="no-bullets">
            <li>
              <a href="/">Trang chủ</a>
            </li>
            <li>
              <a href="/">Giới thiệu</a>
            </li>
            <li>
              <a href="/">Giải pháp</a>
            </li>
            <li>
              <a href="/">Quy trình</a>
            </li>
            <li>
              <a href="/">Khách hàng</a>
            </li>
            <li>
              <a href="/">Liên hệ</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-4 wow fadeInLeft" data-wow-duration="0.75s" data-wow-delay="0.6s">
        <h3>Get it done!</h3>
        <p>
            Do the difficult things while they are easy <br>
            and do the great things while they are small <br>
            A journey of a thousand miles must begin with a single step  <br>
            .Lao Tgu.
        </p>
        <!-- <div class="custom-file">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Nhập email của bạn">
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email là bắt buộc</div>
                <div *ngIf="f.email.errors.email">Email phải là một địa chỉ Email hợp lệ</div>
              </div>
              <div class="btn-home text-center">
                <button type="submit" class="btn-home btn btn-primary">GỬI</button>
              </div>
            </div>
          </form>
        </div> -->
        <div class="list-social-network">
          <a href="https://www.facebook.com/SuploTeam/" class="social-icon social-fb"><i
              class="fab fa-facebook-square"></i></a>
          <a href="https://www.youtube.com/" class="social-icon social-yt"><i class="fab fa-youtube-square"></i></a>
          <a href="https://plus.google.com/" class="social-icon social-gg"><i class="fab fa-google-plus-square"></i></a>
          <a href="https://twitter.com/" class="social-icon social-tw"><i class="fab fa-twitter-square"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="time wow fadeInLeft">
        Hotline hỗ trợ <strong><a href="tel:(+84)934 323 882 " class="a">(+84)934 323 882</a></strong>
        hoạt động từ: Thứ 2 đến Thứ 6 từ 8h đến 18h; Thứ 7 từ 8h đến 12h00.
      </div>
      <div class="copyright wow fadeInRight"> Copyrights © 2017 by <a target="_blank" href="http://suplo.vn">Suplo</a>.</div>
    </div>
  </div>
</footer>