// all
.no-bullets {
    list-style: none outside;
    margin-left: 0;
    padding-left: 0;
}
a{
    text-decoration: none;
    color: #fff;
}
p{
    font-size: 16px;
    line-height: 29px;
}
img{
    max-width: 100%;
}
.text-center{
    text-align: center;
}
%smooth-trans {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.show-pc{
    display: block;
}
@media (max-width: 768px) {
    .show-pc{
        display: none;
    }
}
.show-sp{
    display: none;
}
@media (max-width: 768px) {
    .show-sp{
        display: block !important;
    }
}
@keyframes fade {
	0% { transform:scale(0) }
	100% { transform:scale(1) }
}

header{
    #header-pc{
        padding: 35px 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 999;
        background: transparent;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .header-logo{
        h1{
            padding: 0px;
            margin: 0px;
            a{
                display: inline-block;
                img{
                    width: 160px;
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }
            }
        }
    }
    .header-navbar{
        padding-top: 5px;
        ul{
            margin: 0px;
            display: block;
            position: relative;
            z-index: 99;
            text-align: right;
            li{
                margin: 15px 37px 15px 0px;
                display: inline-block;
                button{
                    display: inline-block;
                    text-transform: uppercase;
                    color: #ffffff;
                    font-weight: bold;
                    font-size: 17px;
                    border: none;
                    background: none;
                    position: relative;
                    &:focus{
                        outline: none !important;
                    }
                    &:after{
                        content: '';
                        display: block;
                        border-bottom: 2px solid #ffffff;
                        width: 0;
                        position: absolute;
                        left: 0;
                        bottom: -15px;
                        -webkit-transition: 1s ease;
                        transition: 1s ease;
                    }
                    &:hover {
                        &:after{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

// header sp
header{
    #header-sp{
        .col-8{
            display: flex;
            justify-content: flex-end;
        }
        .menu-toggler{
            display: inline-block;
            cursor: pointer;
            background: transparent;
            border: none;
            .bar1,
            .bar2,
            .bar3 {
                width: 35px;
                height: 5px;
                background-color: #ffffff;
                margin: 6px 0;
                transition: 0.4s;
            }
        }
        .change .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
        }

        .change .bar2 {
            opacity: 0;
        }

        .change .bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -8px);
        }

        .header-navbar{
            display: none;
            animation: fade 0.5s;
            @extend %smooth-trans;
            ul{
                text-align: center;
                li{
                    margin: 12px;
                }
            }
        }
        .header-navbar.showsp{
            display: block !important;
            background: #0c2993;
            width: 100%;
            padding: 20px;
            position: absolute;
            top: 100%;
            z-index: 1;
        }
    }
}
@media (max-width: 768px) {
    header{
        position: inherit;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 999;
        background: #478dff;
       
    }
}

#main-visual{
    position: relative;
    .main-cover{
        .main-content {
            position: absolute;
            top: 54%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 100%;
            z-index: 1;
            .main-txt{
                h2{
                    color: #ffffff;
                    font-size: 37px;
                    font-weight: bold;
                    line-height: 47px;
                }
                .btn-home{
                    margin: 52px 0;
                    box-shadow: 3px 4px 9px 0px rgba(255, 255, 255, 0.57);
                }
            }
            img{
                position: absolute;
                top: -20%;
                right: -36px;
            }
        }
        img{
            width: 100%;
        }
    }
}
@media (max-width: 768px) {
    #main-visual{
        position: relative;
        background: #478dff;
        .main-cover{
            .main-content {
                position: inherit;
                top: 0;
                left: 0;
                -webkit-transform: inherit;
                transform: inherit;
                width: 100%;
                z-index: 1;
                .main-txt{
                    h2{
                        color: #ffffff;
                        font-size: 22px;
                    }
                    .btn-home{
                        margin: 10px 0;
                    }
                }
                img{
                    display: block;
                    position: inherit;
                    top: 0;
                    right: 0;
                    padding: 20px 0;
                }
            }
            img{
                display: none;
            }
            
        }
    }
}


.btn-home{
    margin: 20px 0;
    a{
        color: #fff;
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        height: 53px;
        line-height: 53px;
        padding: 0 23px;
        background: #5f8f3e;
        color: #fff;
        border-radius: 10px;
        -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
        text-transform: uppercase;
        background-color: #1a82f7;
        background: -moz-linear-gradient(bottom, #25b26e 30%, #b3cf38 70%);
        background: -o-linear-gradient(bottom, #25b26e 30%, #b3cf38 70%);
        background: -ms-linear-gradient(bottom, #25b26e 30%, #b3cf38 70%);
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0.3, #25b26e),color-stop(0.7, #b3cf38));
        
    }
}
@media (max-width: 768px) {
    .btn-home{
        margin: 20px 0;
        a{
            font-size: 16px;
            height: 53px;
            line-height: 53px;
            padding: 0 23px;
            border-radius: 10px;
        }
    }
}

button.btn-home{
    margin: 20px 0;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    height: 53px;
    line-height: 53px;
    padding: 0 23px;
    background: #5f8f3e;
    color: #fff;
    border-radius: 10px;
    -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    background-color: #1a82f7;
    background: -moz-linear-gradient(bottom, #25b26e 30%, #b3cf38 70%);
    background: -o-linear-gradient(bottom, #25b26e 30%, #b3cf38 70%);
    background: -ms-linear-gradient(bottom, #25b26e 30%, #b3cf38 70%);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0.3, #25b26e),color-stop(0.7, #b3cf38));
    border: none;
    &:focus{
        outline: none !important;
    }
}
@media (max-width: 768px) {
    button.btn-home{
        margin: 20px 0;
        font-size: 16px;
        height: 53px;
        line-height: 53px;
        padding: 0 23px;
        border-radius: 10px;
    }
}

h3.title{
    font-weight: bold;
    font-size: 39px;
    line-height: normal;    
}
@media (max-width: 768px) {
    h3.title{
        font-weight: bold;
        font-size: 26px;
        line-height: normal;    
    }
}

#home-about{
    position: relative;
    padding: 165px 0;
    .about-txt{
        h3{
            margin: 0 0 20px;
        }
    }
    img{
        position: absolute;
        top: -69px; 
        left: -37px;
    }
}
@media (max-width: 768px) {
    #home-about{
        position: relative;
        padding: 35px 0;
        
        img{
            position: inherit;
            top: 0; 
            left: 0;
            padding: 20px 0;
        }
    }
}


#home-solution {
    padding: 86px 0 0;
    position: relative;
    .solution-content{
        .solution-txt{
            h3{
                margin: 0 0 23px;
            }
            ul{
                padding-top: 16px;
                li{
                    position: relative;
                    padding-bottom: 8px;
                    margin-left: 33px;
                    h4{
                        font-size: 16px;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                    &:after{
                        content: '';
                        position: absolute;
                        top: 7px;
                        left: -24px;
                        width: 16px;
                        height: 16px;
                        background: -moz-linear-gradient(bottom, #478dff 30%, #0c2993 70%);
                        background: -o-linear-gradient(bottom, #478dff 30%, #0c2993 70%);
                        background: -ms-linear-gradient(bottom, #478dff 30%, #0c2993 70%);
                        background: -webkit-gradient(linear,left bottom,left top,color-stop(0.3, #478dff),color-stop(0.7, #0c2993));
                        border-radius: 3px;
                        /* Rotate */
                        -webkit-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -ms-transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    /* Rotate Origin */
                        -webkit-transform-origin: 0 100%;
                        -moz-transform-origin: 0 100%;
                        -ms-transform-origin: 0 100%;
                        -o-transform-origin: 0 100%;
                        transform-origin: 0 100%;
                    }
                   
                }
            }
        }
    }
    img{
        position: absolute;
        top: -12%;
        right: -54px;
    }
}
@media (max-width: 768px) {
    #home-solution {
        padding: 35px 0 0;
        position: relative;
        img{
            position: inherit;
            top: inherit;
            right: inherit;
        }
    }
}

#home-deploy {
    margin: 85px 0 0;
    padding: 81px 0 115px;
    color: #fff;
    background-image: url(../../assets/97.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    .cover{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: -moz-linear-gradient(right, #478dffe8 30%, #0c2993e8 70%);
        background: -o-linear-gradient(right, #478dffe8 30%, #0c2993e8 70%);
        background: -ms-linear-gradient(right, #478dffe8 30%, #0c2993e8 70%);
        background: -webkit-gradient(linear, right top, left top, color-stop(0.3, #478dffe8), color-stop(0.7, #0c2993e8));
        z-index: -1;
    }
    .deploy-content {
        margin: 32px 0 0;
        .thumb{
            position: relative;
            h5{
                text-align: center;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: bold;
            }
            .thumb-img{
                background-color: #fff;
                width: 105px;
                height: 105px;
                margin: 30px auto;
                display: block;
                position: relative;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                border-radius: 15px;
                fill: #0c2993;
                img{
                    padding: 20px;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                   
                }
            }
            img.arrow{
                position: absolute;
                bottom: 3px;
                right: 30px;
                width: 25px;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                opacity: .5;
            }
        }
        .deploy-top{
            display: flex;
            padding: 6px 0 0 0;
            .thumb{
                width: 22%;
            }
        }
        .deploy-bot{
            padding: 0px 0 0 123px;
            display: flex;
            .thumb{
                width: 25%;
                position: relative;
                img.arrow{
                    position: absolute;
                    top: -28px;
                    right: 63px;
                    width: 25px;
                    -webkit-transform: rotate(223deg);
                    transform: rotate(223deg);
                }
                &:nth-last-child(1){
                    img.arrow{
                        display: none;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    #home-deploy {
        margin: 20px 0 0;
        padding: 20px 0;
        .deploy-content {
            .deploy-top, .deploy-bot{
                display: block;
                padding: 0;
                .deploy-flex{
                    display: flex;
                    .thumb{
                        width: 50%;
                        img.arrow{
                            display: none;
                        }
                        h5{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

#home-comment {
    padding: 82px 0 100px;
    h3{
        padding: 0 0 42px;
    }
    .comment-left{
        width: 375px;
        padding: 0 20px 46px 0;
        float: right;
        position: relative;
        img{
            border-radius: 15px;
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
        }
        .comment-face{
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
            width: 145px;
            img{
                border-radius: 50%;
                border: 5px solid #fff;
            }
        }
    }
    .comment-right{
        padding: 40px 150px 0 0;
        i.fas {
            color: #e0e0e0;
            font-size: 30px;
        }
        .comment-infor{
            padding: 20px 0 0;
            text-align: right;
        }
        p{
            line-height: 20px;
            margin: 0;
        }
    }
    .carousel-control-prev-icon{
        background: none;
        &:after{
            content: '\f053';
            font-family: "Font Awesome 5 Free";
            font-weight: bold;
            color: #e0e0e0;
            font-size: 50px;
            line-height: 0;
        }
    }
    .carousel-control-next-icon{
        background: none;
        &:after{
            content: '\f054';
            font-family: "Font Awesome 5 Free";
            font-weight: bold;
            color: #e0e0e0;
            font-size: 50px;
            line-height: 0;
        }
    }
}
@media (max-width: 768px) {
    #home-comment {
        padding: 30px 0;
        h3{
            padding: 0 0 42px;
        }
        .comment-right{
            padding: 20px;
        }
       
    }
}

#home-services{
    padding: 0 0 100px;
    .container{
        padding-top: 84px;
        position: relative;
        &:before{
            content: '';
            background: #f6f6f6;
            width: 97%;
            height: 2px;
            position: absolute;
            top: 0;
            left: 15px;
            right:  15px;
        }
    }
    #home-slider{
        margin: 25px 0 0;
        /deep/.owl-nav{
            display: none !important;
        }
        /deep/.owl-theme{
            margin-left: 0;
        }
    }

    a{
        padding: 10px;
        margin: 5px;
        background: #fff;
        display: block;
        border-radius: 5px;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
    }
}
@media (max-width: 768px) {
    #home-services{
        background: #f6f6f6;
        padding: 20px 0;
        #home-slider{
            owl-carousel{
                /deep/owl-carousel-child.owl-theme{
                    margin-left: 0;
                }
            }
        }
        a{
            padding: 10px 10px 0;
            margin:  0 0 10px;
            padding: 10px;
            background: #fff;
            display: block;
            border-radius: 5px;
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
        }
    }
}

#home-form{
    padding: 90px 0 70px;
    background: #f6f6f6;
    background-image: url(../../assets/newsletter_img.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 50%;
    h3{
        margin-bottom: 5px;
    }
    p{
        margin-bottom: 2px;
        font-size: 14px;
    }
    .form-content{
        width: 780px;
        display: block;
        margin: auto;
    }
    .form-group {
        padding: 5px 0 0;
        font-size: 14px;
        input:focus{
            outline: none !important;
        }
        input.form-control, textarea.form-control{
            padding: 18px 0 18px 20px;
            font-size: 14px;
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
            border-radius: 10px;
            color: #212529;
        }
        input::placeholder, textarea::placeholder{
            font-style: italic;
        }
        textarea.form-control.tell-about{
            padding: 18px 0 55px 20px;
        }
        p.from-margin{
            margin-bottom: 11px;
        }
        input.form-option, input.form-check {
            display: inline-block;
            background: #fff;
            width: 20px;
            height: 20px;
            vertical-align: bottom;
            margin: 0 14px 0 0;
            font-size: 14px;
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            appearance: none;
            border:none;
            padding:0;
            border-radius:0;
            vertical-align: middle;
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
            &:checked{
                background-color: #478dff;
            }
        }
        input.form-option{
            border-radius: 50%;
        }

    }
    .btn-home{
        margin: 20px 0;
        button{
            padding: 0 75px;
        }
    }
}
@media (max-width: 768px) {
    #home-form{
        padding: 20px 0 20px;
        background-position: center;
        background-size: contain;
        h3{
            margin-bottom: 20px;
        }
        .form-content{
            width: auto;
            display: block;
            margin: auto;
        }
        .form-group {
            padding: 5px 0 0;
            input.form-control{
                padding: 30px 0 30px 33px;
                font-style: italic;
                box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
            }
            input.form-control.tell-about{
                padding: 30px 0 145px 33px;
            }
            input.form-option, input.form-check {
                margin-bottom: 10px;
            }
        }
       
        .btn-home{
            margin: 30px 0;
            a{
                padding: 0 75px;
            }
        }
    }
}

footer{
    background: #4d4d4d;
    padding: 95px 0 0;
    color: #fff;
    h3{
        margin-bottom: 30px;
    }
    a.logo-footer {
        width: 160px;
        display: block;
        margin: 0 0 32px;
    }
    h3{
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
    }
    p{
        line-height: 20px;
        margin-bottom: 30px;
    }
    .ft-address, .ft-hotline, .ft-email{
        display: flex;
        margin-bottom: 10px ;
        i.fa{
            display: inline-block;
            color: #ffffff;
            margin: 7px 0 0;
        }
        span, a {
            padding-left: 15px;
        }
    }
    .support{
        margin-left: 95px;
        ul{
            li{
                margin-bottom: 12px;
            }
        }
    }
    .custom-file{
        .form-group{
            input.form-control{
                padding: 20px 0 20px 33px;
                font-style: italic;
                border-radius: 10px;
                position: relative;

            }
            button.btn-home{
                position: absolute;
                bottom: -4px;
                right: -5px;
                margin: 0;
                height: 42px;
                line-height: 42px;
                text-transform: capitalize;
                
            }
        }
    }
    .list-social-network{
        margin: 30px 0 0;
        a.social-icon{
            margin-right: 20px;
            i.fab{
                font-size: 30px;
            }
        }
    }
    .footer-copyright {
        background: #373737;
        margin: 77px 0 0;
        padding: 24px 0;
        font-size: 14px;
        .container{
            display: flex;
            justify-content: space-between;
            .time{
                display: inline-block;
            }
            .copyright{
                display: inline-block;
            }
        }
    }
}
@media (max-width: 768px) {
    footer{
        padding: 20px 0 0;
        .support{
            margin-left: 0;
            margin-top: 100px;
            ul{
                li{
                    margin-bottom: 12px;
                }
            }
        }
        .ft-address, .ft-hotline, .ft-email{
            span, a {
                padding-left: 5px;
            }
        }
        .footer-copyright {
            background: #373737;
            margin: 50px 0 0;
            padding: 24px 0;
            font-size: 14px;
            .container{
                display: block;
                justify-content: space-between;
                .time{
                    display: inline-block;
                    margin-bottom: 20px;
                }
                .copyright{
                    display: inline-block;
                }
            }
        }
    }
}


#home-logo-partner{
    .show-pc{
        display: inline-flex;
    }
    .row{
        margin-top: 28px;
        .col{
            a{
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                transition: all 0.3s ease;
                img{
                    filter: grayscale(100%);
                    -webkit-filter: grayscale(100%);
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }
                &:hover{
                    img{
                        filter: grayscale(0%);
                        -webkit-filter: grayscale(0%);
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    #home-logo-partner{
        .show-pc{
            display: none !important;
        }
        .show-sp{
            display: inline-flex !important;
        }
        .row{
            margin-top: 10px;
            
        }
    }
}

.sticky {
    background: #0c2993 !important;
    padding: 5px 0 !important;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
    position: fixed;
    top: 0;
    width: 100%;
    .header-logo{
        h1{
            a{
                img{
                    width: 120px !important;
                }
            }
        }
    }
}